@{
    <h1><p class="bg-danger text-white">Skills.</p></h1>

}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
 
<div class="jumbotron">
    <img src="~/img/crossed-swords.png" width="200px" height="200px" /></img><br /><h1><p class="bg-danger text-white">Minhas Habilidades.</p></h1>
</div>

<address>

    <h3><small>Observador; Criativo; Paciente; Persistente;</small></h3>
    <h3><small>Ensino fundamental e médio completo</small></h3>
    <h2><p class="text-danger">Cursos:</p></h2>

    <h3><small>  Administração e informática (completo);</small></h3>
    <h3><small>Desenvolvimento de games e Tecnologia em gestão da tecnologia da informática (cursando);h</small></h3>

    <h2><p class="text-danger">Carreira Profissional:</p></h2>
    <h3><small>  Estágiario na área de Tecnologias;</small></h3>
    <h3><small>  Exercícios de Java e C#;</small></h3>

</address>