@{
    <h1><p class="bg-danger text-white">Contatos</p></h1>
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div class="jumbotron">

    <address>
        <img src="~/img/untitled.png" - width="200px" height="200px"><h1><p class="bg-danger text-white">Meus Contato</p></h1>

    </address>
    </div>
<address>
    <h2><p class="text-danger">Endereço:</p></h2>
    <h5>Rua Vitória Régia n° 106<h5 />
        <h5>São Paulo - Jarágua<h5 />
        
        <h2><p class="text-danger">Redes Sociais:</p></h2>
        <button type="button" class="btn-dark">  <p class="bg-dark alert-dark"> <img src="~/img/github-logo.png" width="50px" height="50px" /></p></button></p><h4>Rafa556</h4>
            <button type="button" class="btn btn-success"><p class="bg-success text-white"><img src="~/img/whatsapp-1td7wtn-300x300.png" width="50px" height="50px"></button><h4>11942519173</h4>
            <button type="button" class="btn-warning"><p class="bg-warning"> <img src="~/img/1200px-New_Logo_Gmail.svg.png" width="55px" height="40px"></button></p><h4>fernandesrafael149@gmail.com</h4>
</address>
