@{
    ViewBag.Title = "Rafael Fernandes";
}

    <div class="jumbotron">
        <img src="~/img/65983914_1600667863402715_6844810983597146112_o.jpg" width="170px" height="230px" /><h1><p class="bg-danger text-white">Rafael Fernandes</p></h1>
        <h2><p class="text-danger">Este é o meu ASP.NET</p></h2>
    </div>

<div class="row">
    <div class="col-md-4">
      
        <p>
            <h3>Na vida tudo é fácil, basta querer e correr atrás...</h3>
            
        </p>
    </div>
</div>