@{
    <h1><p class="bg-danger text-white">Projeto</p></h1>
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div class="jumbotron">

    <address>
        <img src="~/img/42608.png" - width="200px" height="200px"><h1><p class="bg-danger text-white">Meus Projetos</p></h1>

    </address>
    </div>

<address>
    <h2><p class="text-danger">Sonhos Profissionais:</p></h2>
    <h3><small>  - Todos temos sonhos que queremos realizar, não apenas sonhos financeiros ou profissionais como pessoais também. Eu pretendo crescer em uma empresa grande, e atingir minhas próprias metas, como criar algo inovador, esse é o principal sonho profissional.</small></h3>
    <h3><small>- Pretendo um dia ter uma equipe para melhorar nossa empresa e com muita força de vontade o mundo também!</small></h3>
    <h2><p class="text-danger">Sonhos Pessoais:</p></h2>
    <h3><small>-Uma família é um dos sonhos mais queridos de quase todos, principalmente meu sonho</small></h3>
    <h3><small>- Eu quero ter dois filhos, de preferencia um casal, porém, o que vier está de ótimo tamanho para mim.</small></h3>


</address>

